{% load static %}

<head>
  <title>Aluguéis por Temporada</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
  <link rel="stylesheet" href="{% static 'css/airbnb.css' %}">
  <link rel="shortcut icon" type="image/png" href="/favicon.png" />
</head>

<body>
  <header class="init">
    <nav class="init-menu">
      <div class="container">
        <a class="init-logo" href="#">
          <img src="{% static 'img/logo.png' %}" alt="Logo AirBnb">
        </a>
        <ul class="init-lista">
          <li class="item-lista">
            <a href="#">Hospede em sua acomodação</a>
          </li>
          <li class="item-lista">
            <a href="#">Hospede uma experiência</a>
          </li>
          <li class="item-lista">
            <a href="#">Ajuda</a>
          </li>
          <li class="item-lista">
            <a href="#">Entrar</a>
          </li>
          <li class="item-lista">
            <button href="#">Cadastrar-se</button>
          </li>
        </ul>
      </div>
    </nav>

    <section>
      <div class="tablist">
        <span>Lugares para ficar</span>
        <span>Estadias</span>
        <span>Experiências</span>
      </div>
      <div class="container">
        <div class="card">
          <img src="{% static 'img/estadia.jpeg' %}" alt="Denim Jeans" style="width:100%">
          <h1>Hotel 1</h1>
          <p class="Preço">R$19.99</p>
          <p>Some text about the aluguel. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p><button>Reservar</button></p>
        </div>

        <div class="card">
          <img src="{% static 'img/estadia.jpeg' %}" alt="Denim Jeans" style="width:100%">
          <h1>Hotel 2</h1>
          <p class="Preço">R$19.99</p>
          <p>Some text about the aluguel. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p><button>Reservar</button></p>
        </div>

        <div class="card">
          <img src="{% static 'img/estadia.jpeg' %}" alt="Denim Jeans" style="width:100%">
          <h1>Hotel 3</h1>
          <p class="Preço">R$19.99</p>
          <p>Some text about the aluguel. Super slim and comfy lorem ipsum lorem jeansum. Lorem jeamsun denim lorem jeansum.</p>
          <p><button>Reservar</button></p>
        </div>
      </div>
    </section>

    

  </header>