{% load static %}

<html>

  <head>
    <title>Aluguéis por Temporada</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/airbnb.css' %}">
  </head>

  <body>
    <header class="init">
      <nav class="init-menu">
        <div class="container">
          <a class="init-logo" href="{% url 'home_list' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo AirBnb">
          </a>
          {% if user.is_authenticated %}
            <p style="margin-top: 16px;" class="top-menu">Olá {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
          {% endif %} 
          <ul class="init-lista">
            <li class="item-lista">
              <a href="{% url 'home_new' %}">Hospede em sua acomodação</a>
            </li>
            <li class="item-lista">
              <a href="#">Hospede uma experiência</a>
            </li>
            <li class="item-lista">
              <a href="#">Ajuda</a>
            </li>
            <li class="item-lista">
              <a href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="item-lista">
              <button href="#">Cadastrar-se</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="tablist">
      <span>Lugares para ficar</span>
      <span>Estadias</span>
      <span>Experiências</span>
    </div>
   
    {% block content %}
    {% endblock %}
   
  </body>
</html>