{% load static %}

<html>

  <head>
    <title>Aluguéis por Temporada</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="{% static 'img/icon.png' %}" />
    <link rel="stylesheet" href="{% static 'css/airbnb.css' %}">
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <header class="init">
      <nav>
        <div class="container">
          <a class="init-logo" href="{% url 'init_page' %}">
            <img src="{% static 'img/logo.png' %}" alt="Logo AirBnb">
          </a>
          {% if user.is_authenticated %}
            <p class="top-menu">Olá {{ user.username }} <small>(<a href="{% url 'logout' %}">Log out</a>)</small></p>
          {% endif %} 
          <ul class="init-lista">
            <li class="globe">
              <span class="glyphicon glyphicon-globe"></span></a>            
            </li>
            <li class="item-lista">
              <a href="{% url 'home_new' %}">Hospede em sua acomodação</a>
            </li>
            <li class="item-lista">
              <a href="#">Hospede uma experiência</a>
            </li>
            <li class="item-lista">
              <a href="#">Ajuda</a>
            </li>
            <li class="item-lista">
              <a href="{% url 'login' %}">Entrar</a>
            </li>
            <li class="item-lista">
              <button href="#">Cadastrar-se</button>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div class="tablist">
      <a class="a-underline" href="{% url 'init_page' %}">Lugares para ficar</a>
      <a class="tablist-a" href="{% url 'home_list' %}">Estadias</a>
      <a class="tablist-a">Experiências</a>
    </div>
   
    {% block content %}
    {% endblock %}
   
  </body>
</html>