{% extends 'airbnb/index.html' %}

{% block content %}

  <form method="post"> {% csrf_token %} 
    <div class="container-list">
      <div class="container-reservation">
        <div class="reservation">
          <div class="reservation-box">
            <label for="" class="box-lbl">
              <div class="box">Localização</div>
              <input class="box-input" type="text" placeholder="Para onde você vai?">
            </label>
          </div>
        </div>
      </div>
      <div class="box-between"></div>
        <div class="box-check">
          <div class="box-inout">
            <label class="box-btn">
              <div class="box">Check-in/Checkout</div>
              <input class="box-input" type="text" placeholder="Insira a quantidade de dias">
            </label>
          </div>
        </div>
        <div class="box-between"></div>
        <div class="box-check">
          <div class="box-inout">
            <label for="" class="box-lbl">
              <div class="box">Hóspedes</div>
              <input class="box-input" type="text" placeholder="Insira o número de hóspedes">
            </label>
          </div>
        </div>
        <div class="box-check">
          <div class="box-inout">
            <div class="box-search">
              <button type="submit">Buscar</button>
            </div>
          </div>
        </div>
    </div>
  </form>



{% endblock %}