{% extends "airbnb/index.html" %}

{% block content %}
    {% if form.errors %}
        <p class="login-error">Your username and password didn't match. Please try again.</p>
    {% endif %}
    <div class="forms">
        <div class="container-form">
            <div class="form-add">
                <form method="post" action="{% url 'login' %}">
                    {% csrf_token %}
                    <p class="edit-p">Login</p>
                    
                    {{form.as_p}}

                    <input class="btn-salvar" type="submit" value="Entrar" />
                    <input type="hidden" name="next" value="{{ next }}" />
                </form>
                <a class="link-reset" href="{% url 'password_reset' %}">
                    Esqueci minha senha
                </a>
            </div>
        </div>
    </div>
{% endblock %}