{% extends "airbnb/index.html" %}

{% block content %}
    {% if validlink %}
        <div class="forms">
            <div class="container-form">
                <h2 class="edit-p">Insira uma nova senha</h2>
                <form class="form-add" action="POST">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <input class="btn-salvar" type="submit" value="Mudar">
                </form>
            </div>
        </div>
    {% else %}
    {% endif %}
{% endblock %}