@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);

* {
	box-sizing: border-box;
}

body {
	font-size: 10px;
	font-family: "Montserrat", sans-serif;
}

.container {
  display: flex;
  align-items: stretch;
}

.init-logo {
  flex-grow: 5;
  order: -1;
  padding: 0;
}

.init {
	justify-content: space-between;
	padding: 15px 0;
	width: 100%;
	display: flex;
  flex-direction: column;
  position: fixed;
	top: 0;
	width: 100%;
  backface-visibility: hidden;
  background-color: white;
  box-shadow: 0 1px 0 rgba(0, 0, 0, .1);
}

.init-menu {
	z-index: 2;
	display: flex;
}

.init-lista {
  flex-grow: 1;
  display: flex;
  list-style: none;
  margin-top: 15px;
	padding: 0;
}

.item-lista {
	margin: 0 16px;
}

.item-lista a {
  color: #000;
	font-size: 1.4em;
	font-weight: bold;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

.item-lista button {
  border: 1px solid rgb(235, 235, 235);
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  margin: -10px;
  text-decoration: none;
  border-radius: 21px;
  box-shadow: rgba(0, 0, 0, 0.18) 0px 1px 2px ;
  text-decoration: none;
  height: 42px;
  background-color: white;
}

.item-lista button:hover {
  color: #a8a8a8;
}

.item-lista a:hover {
  color: #a8a8a8;
}

.tablist {
  margin-top: 110px;
  margin-left: 20px;
}

.tablist span {
  margin-right: 20px;
  font-size: 14px;
}

.tablist span:hover {
  text-decoration: underline;
  font-weight: bold;
}

.card {
  text-align: center;
  width: 300px;
  margin: 19px; 
  box-shadow: 6px 6px 6px 6px rgba(0, 0, 0, .1);
}

.card-deck {
  display: flex; 
  flex-wrap: wrap;
}

.card_text {
  white-space: pre-wrap; 
  width: 300px; 
  height: 40px;
  text-align: justify;
  overflow: hidden;
  text-overflow: ellipsis;
}

.card img {
  width: 230px;
  height: 150px;
}

.price {
  color: grey;
  font-size: 14px;
}

.card-title {
  margin: 10px;
}

.card-title a {
  color: rgb(255, 56, 92) ;;
  font-size: 16px;
  font-weight: bold;
}

.card-title a:hover {
  text-decoration: none;
  color: red;
}

.card button {
  border: none;
  outline: 0;
  padding: 12px;
  margin: 10px 0;
  color: white;
  background-color: rgb(65, 64, 64);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
}

.card button:hover {
  opacity: 0.7;
}

.detail-container {
  margin: 20px;
}

.detail-container img {
  width: 20%;
  height: 40%;
  border-radius: 5%;
}

.container-form {
  width: 50%;
  height: 75%;
  margin: 15px auto;
  display: flex;
  justify-content: center;
  box-shadow: 1px 1px 1px 1px rgba(0, 0, 0, .1);
}

.edit-p {
  color:rgb(255, 56, 92);
  font-size: 18px;
  text-align: center;
}

.container-form label, input {
  display: block;
  font-size: 14px;
  font-weight: normal;
  text-align: center;
}

.container-form input {
  margin-left: 40px;
}

.container-form textarea {
  text-align: center;
  color: black;
  margin-left: 5px;
}

.btn-publicar {
  background-color: rgb(255, 56, 92) ;
  font-size: 16px;
  color: white;
  padding: 10px;
  margin: 20px;
  border-radius: 10%;
}

.btn-salvar {
  border-color: rgb(255, 56, 92);
  border-width: 1px;
  font-size: 16px;
  background-color: white;
  color: rgb(255, 56, 92);
  padding: 10px;
  border-radius: 10%;
  margin-left: 120px;
}

.btn-salvar:hover {
  cursor: pointer;
  background-color: crimson;
  color: white;
}

.btn-publicar:hover {
  background-color: crimson;
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.btn-remover {
  background-color: rgb(228, 35, 35) ;
  font-size: 20px;
  color: white;
  float: right;
  margin: 0 20px;
  padding: 5px;
  border-radius: 10%;
}

.btn-remover:hover {
  background-color: rgb(220, 20, 20);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

h2 {
  font-weight: bold;
}

.btn-editar {
  background-color: rgb(35, 80, 228) ;
  font-size: 20px;
  float: right;
  color: white;
  margin: 0 10px;
  padding: 5px;
  border-radius: 10%;
}

.btn-editar:hover {
  background-color: rgb(25, 9, 252);
  color: white;
  cursor: pointer;
  text-decoration: none;
}

.text-detail {
  text-align: justify; 
  width: 700px;
}

.container-login {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border-color: crimson;
}

.container-login label {
  margin: 20px;
  text-align: center;
}

.comment {
  margin: 20px 0px 20px 20px;
}

.card-comentario {
  color: rgb(202, 7, 241);
  font-size: 12px;
}


