@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
  --gray: #BDBDBD;
}

* {
  margin: 0;
  padding: 0;
  border: none;
  font-size: 14px;
  font-family: 'Roboto', sans-serif;
}

input:focus, a:focus, button:focus, textarea:focus, .btn-primary:focus {
  outline: thin dotted;
  outline: 0px auto -webkit-focus-ring-color;
  outline-offset: 0px;
  box-shadow: none;
}

.container {
  max-width: 100%;
  padding: 10px 0;
  border-bottom: 0.5px solid var(--gray);
  background-color: white;
  text-align: center;
  margin: 0;

}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 0.4fr 0.8fr;
  align-items: center;
  gap: 5px;
  margin: 0 20px;
}

ul:first-child {
  margin: 0;
}

ul:last-child {
  margin: 0;
}

.container-item a {
  cursor: pointer;
  color: #000;
  text-decoration: none;
}

.container-item:nth-child(2) {
  text-align: right;
}

.container-item img {
  width: 80%;
}

.container-item button {
  cursor: pointer;
  background-color: white;
  padding: 10px;
  border-radius: 50px;
  box-shadow: 2px 2px 2px 1px var(--gray);
}

.container-item button:hover {
  color: var(--gray);
  transition: 0.8s all ease-in;
}

.container-item a:hover {
  color: var(--gray);
  transition: 0.4s all ease-in;
}

.intro {
  margin-top: 20px;
  margin-left: 6%;
  font-size: 12px;
}

.intro-underline {
  text-decoration: underline;
  font-size: 17px;
  color: #000;
  margin-right: 25px;
}

.intro-underline:hover {
  color: var(--gray);
}

.intro a:hover {
  transition: 0.8s all ease-in;
}

.intro-a {
  font-size: 17px;
  margin-right: 25px;
  color: #000;
}

.intro-a:hover {
  text-decoration: none;
  color:  var(--gray);
}

.description-home {
  text-align: justify;
  margin: 10px 0;
}


.price {
  color: grey;
  font-size: 14px;
  margin: 0;
}

.card-columns .card {
  text-align: center;

}

.card-columns {
  margin: 20px 80px;
}

.card-text {
  white-space: pre-wrap; 
  overflow: hidden;
  text-align: justify;
  text-overflow: ellipsis;
  height: 50px;
}

.card-title a {
  color: rgb(255, 56, 92) ;;
  font-size: 16px;
  font-weight: bold;
  text-decoration: none;
  background-color: transparent;
}

.card-img-top {
  height: 200px;
}

.card-title a:hover {
  text-decoration: none;
  color: var(--gray);
}

.card-button {
  border: none;
  outline: 0;
  padding: 12px;
  margin-top: 10px;
  color: white;
  background-color: rgb(65, 64, 64);
  text-align: center;
  cursor: pointer;
  width: 100%;
  font-size: 14px;
  display: block;
}

.card-button:hover {
  opacity: 0.8;
  text-decoration: none;
  color: white;
}

.title-search {
  text-align: center;
  font-size: 16px;
  margin: 20px;
  font-weight: bold;
}

.container-form {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 10px;
}

.form-add {
  width: 100%;
  margin: 20px 80px;
  padding: 2% 25%;
  transition: border-color 0.2s;
  border: 2px solid transparent;
  box-shadow: 0px 1px 4px 0px var(--gray);
  border-radius: 12px;
}

.container-form input, select {
  display: block;
  padding: 10px;
  width: 100%;
  text-align: center;
}

input:focus, textarea:focus {
  outline: none;
}

.container-form input {
  border-radius: 5px;
}

.container-form .btn-salvar {
  font-size: 16px;
  color: rgb(250, 248, 248);
  width: 100%;
  box-shadow: none;
  background-color: rgb(255, 56, 92);
}

.btn-primary {
  border-color: rgb(255, 56, 92);
}

.container-form .btn-salvar:hover,
.btn-primary:hover {
  cursor: pointer;
  border: none;
  padding: 11px;
  border-color: none;
  background-color: rgb(248, 86, 116);
}

.btn-primary:not(:disabled):not(.disabled):active {
  background-color: rgb(248, 86, 116);
  border: none;
}

.container-form select {
  height: 40px;
  font-size: 14px;
  background-color: rgb(248, 86, 116);
  color: white;
}

.container-form textarea {
  display: block;
  width: 100%;
  text-align: center;
  height: 100px;
  padding: 10px;

}

.container-login {
  width: 100%;
  text-align: center;
  display: flex;
  margin-top: 50px;
  justify-content: center;
  border-color: crimson;
}

.container-login label {
  margin: 20px;
  text-align: center;
}

.edit-p {
  font-size: 16px;
  text-align: center;
  margin: 10px 0;
  text-transform: uppercase;
  color: rgb(255, 56, 92);
}

.btn-publicar {
  cursor: pointer;
  font-size: 14px;
  color: #000;
  transition: 0.4s all ease-in;
  background-color: white;
  padding: 10px;
  box-shadow: 1px 1px 1px 1px var(--gray);
  text-decoration: none;
}

.btn-publicar:hover {
  text-decoration: none;
  transition: 0.4s all ease-in;
  color: var(--gray)
}

.btn-logar {
  background-color: rgb(255, 56, 92) ;
  font-size: 16px;
  color: white;
  padding: 5px;
  display: flex;
  justify-content: center;
  width: 53%;
  margin-left: 108px;
}

.fa-times-circle {
  font-size: 20px;
  float: right;
  margin: 0 20px;
  padding: 5px;
  border-radius: 10%;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin-top: 30px;
}

.fa-check-circle-o {
  font-size: 20px;
  float: right;
  color: white;
  padding: 5px;
  border-radius: 10%;
}

.text-detail {
  text-align: justify; 
  font-size: 12px;
  margin-right: 110px;
}

.card-comentario {
  color: rgb(202, 7, 241);
  font-size: 12px;
}

.container-detail form {
  margin-left: -30px;
}

.rating {
  position: absolute;
  transform: translate(5%,5%) rotateY(180deg);
  display: flex;
}

.rating input {
  display: none;
}

.rating label {
  cursor: pointer;
  width: 50px;
}

.rating label:before {
  content: '\f005';
  font-family: fontAwesome;
  position: relative;
  display: block;
  font-size: 25px;
  color: #101010;
}

.rating label:after {
  content: '\f005';
  font-family: fontAwesome;
  position: absolute;
  display: block;
  font-size: 25px;
  color: #ffee00;
  top: 0;
  opacity: 0;
  transition: .5s;
  text-shadow: 0 2px 5px rgba(0, 0, 0, .5);  
}

.rating label:hover:after,
.rating label:hover ~ label:after,
.rating input:checked ~ label:after{
  opacity: 1;
}

.rating-button {
  font-size: 18px;
  color: white;
  background-color: rgb(255, 56, 92);
  margin-left: 280px;
  margin-top: 5px;
  padding: 5px;
}

.rating-button-disabled {
  font-size: 18px;
  color: white;
  background-color: var(--gray);
  margin-left: 300px;
  border: none;
  margin-top: 5px;
  padding: 5px;
}

.rating-p {
  margin: 10px 42px;
  font-size: 14px;
}

.rating-p2 {
  font-size: 14px;
  margin: 10px 40px;
}

.btn-secondary {
  font-size: 14px;
  margin-left: 370px;
}

.container-detail {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 15px;
}

.container-aside {
  margin-left: 280px;
  width: 50%;
  padding: 10% 5%;
  text-align: center;
  font-size: 16px;
  color: white;
  background-color: rgb(255, 56, 92);
  border-radius: 20px;
}

.normal-weight {
  font-weight: normal;
}

.container-detail img {
  width: 80%;
  max-height: 300px;
}

.is_reserved {
  color: rgb(255, 56, 92);
}

.reserved_done {
  font-size: 14px;
  color: rgb(35, 80, 228);
  margin-top: 40px;
  text-align: center;
}

.container-aside a {
  background-color: #fff;
  color: rgb(255, 56 , 92);
  box-shadow: 1px 1px 1px 1px rgb(255, 109, 109);
  border-radius: 10px;
  font-weight: bold;
  display: block;
  margin: 10px;
  padding: 10px;
}

.container-aside a:hover {
  text-decoration: none;
  color: var(--gray);
  box-shadow: 1px 0px 1px 1px var(--gray);
}

.container-comments {
  align-items: center;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}

.detail-comments {
  width: 400px;
  margin-top: 20px;
}

.form-comments {
  width: 400px;
  margin: 10px;
}

.form-comments button {
  font-size: 16px;
  color: white;
  background-color: rgb(255, 56, 92);
  padding: 5px;
}

.form-comments input, textarea {
  color: #000;
  width: 400px;
  font-size: 12px;
  text-align: left;
  margin: 10px 0;
}

.form-comments label {
  font-size: 14px;
  text-align: center;
}

.form-comments h2 {
  text-align: center;
}

@media screen and (max-width: 1022px) {
  .container-aside label, a {
    margin: 0;
    padding: 0;
    font-size: 12px;
  }

  .container ul {
    width: 90%;
  }

  .container-aside {
    margin-top: 10px;
    margin-left: 0;
  }

  .container-detail {
    display: block;
  }
 
}

.detail-btncomentar {
  font-size: 14px;
  color: rgb(255, 255, 255);
  background-color: rgb(35, 80, 228);
  transition: 0.4s all ease-in;
  padding: 5px;
  cursor: pointer;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  margin-top: 20px;
  max-width: 100%;
}

.detail-btncomentar:hover {
  background-color: rgb(59, 100, 233);
  color: white;
  text-decoration: none;
}

.comment-detail {
  margin-top: 10px;
  font-size: 14px;
  text-align: justify;
}

.data {
  margin-top: 20px;
  font-size: 14px;
  text-align: center;
}

.login-error {
  margin: 50px 80px; 
  color: red;
  font-size: 15px;
}

.container-description {
  margin: 30px 80px;
}

.container-list {
  background-color: #fff;
  border: 1px solid #F7F7F7 ;
  border-radius: 12px;
  box-shadow: 1px 4px 8px var(--gray) ;
  color: #222222;
  display: flex;
  justify-content: center;
  margin: 5%;
}

.container-reservation {
  flex: 1 0 3%;
  display: flex;
  box-sizing: border-box;
  color: #222222;
  font-size: 14px;  
  line-height: 1.43;
}

.section {
  margin: auto;
  max-width: 1760px;
  padding-right: 80px;
  padding-left: 80px;
}

.section-container {
  font-size: 3.5vw;
  letter-spacing: -0.02em;
  line-height: 4.2vw;
  max-width: 60%;
  margin: 0px 0px 16px;
}

.reservation {
  flex: 1 0 0%;
}

.reservation-box {
  margin: -1px;
}

.box-lbl {
  transition: border-color 0.2s;
  border: 2px solid transparent;
  border-radius: 12px;
  display: block;
  padding: 16px 12px;
  cursor: pointer;
  line-height: normal;
  z-index: 2;
}

.box-lbl:hover{
  box-shadow: 1px 1px 2px 2px var(--gray);
}

.box {
  font-size: 10px;
  line-height: 12px;
  font-weight: 800;
  text-transform: uppercase;
  padding-bottom: 4px;
}

.box-input {
  border: 0px;
  margin: 0px;
  width: 100%;
  font-weight: 400;
  background-color: rgba(0, 0, 0, 0);
  font-size: 14px;
  color: rgb(34, 34, 34);
}

.box-input:focus {
  box-shadow: 0 0 0 0;
  border: 0 none;
  outline: 0;
} 

.box-between {
  align-self: center;
  border-right: 1px solid rgb(221, 221, 221);
  flex: 0 1 0px;
  height: 44px;
}

.box-check {
  flex: 1 0 0%;
}

.box-inout {
  margin: -1px;
}

.box-date {
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: rgb(34, 34, 34);
  opacity: 0.7;
  display: flex;
}

.box-write {
  font-size: 10px;
  line-height: 12px;
  font-weight: 800;
  letter-spacing: 0.04em;
  text-transform: uppercase;
  padding-bottom: 4px
}

.box-search {
  padding-top: 11px;
}

.box-search button {
  cursor: pointer;
  display: inline-block;
  margin: 0px 35%;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  background-color: rgb(255, 56, 92);
  line-height: 18px;
  color:white;
  font-weight: 600;
  border-radius: 8px;
  padding: 12px 24px;
  transition: box-shadow;
  border: medium;
}

.box-search button:hover {
  transition: 0.4s all ease-in;
  background-color: #ec407a;
}

.deck-mk {
  display: flex; 
  flex-wrap: wrap;
  margin: 5%;
}

.form-search {
  width: 100%;
  display: absolute;
}

.form-add h2 {
  text-align: center;
}

@media screen and (max-width: 640px) {
  .form-add, .container-form  {
    padding: 10px;
    margin: 5px 0;
  }

  .box-between {
    visibility: hidden;
  }

  .reservation, .box-check {
    width: 100px;
  }

  .box, .box-input {
    font-size: 8px;
  }

  .box-lbl {
    height: 60px;
  }

  .box-search button {
    width: 90%;
    font-size: 12px;
    padding: 1px;
    border-radius: 2%;
    margin-left: 0;
    margin-top: 12%;
  }
  
}

.msg-corona {
  color: rgb(146, 23, 77);
  font-size: 1em;
}


.card-mk {
  box-shadow: 0px 0px 1px 1px var(--gray);
  width: 340px;
  margin: 0 10px;
  border-radius: 15px;
}

.container-mk {
  margin: 10px;
  padding: 10px;
}

.card-mk img {
  width: 100%;
  height: 250px;
  border-start-end-radius: 15px;
  border-start-start-radius: 15px;
}

.card-mk-title {
  text-align: left;
  font-size: 18px;
  color: #000;
}

.card-mk-description {
  font-size: 14px;
  color: #707070;
  text-align: left;
}

.content-done {
  text-align: center;
  line-height: 26px;
  margin: 10vh;
}

.link-reset {
  float: right;
  color: #333;
  font-weight: bold;
  margin-top: 15px ;
}

.link-reset:hover {
  text-decoration: none;
  color: rgb(248, 86, 116); 
}

.container-reset {
  margin: 100px;
  font-weight: bold;
}

.container-reset p {
  color: #000;
  margin-top: 0;
  font-weight: normal;
}

@media screen and (max-width: 640px) {
  .intro-a, .intro-underline, .intro p {
    font-size: 10px;
  }

  .container-description {
    width: 100%;
    margin: 30px 15px;
  }

  .date-home {
    margin-right: 0;
  }

  .container-description {
    width: 85%;
  }

  .rating-button, .rating-button-disabled {
    font-size: 12px;
  }

}

