@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css);
@import 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap';

:root {
    --gray: #BDBDBD;
}

* {
    margin: 0;
    padding: 0;
    border: none;
    font-family: 'Roboto', sans-serif;
  }

.glyphicon-thumbs-down, .glyphicon-thumbs-up {
    margin: 30px 0;
    font-size: 36px;
    color: var(--gray);
}

.glyphicon-home {
    font-size: 2px;
    color: rgb(3, 3, 3);
    display: flex;
    justify-content: center;
    position: unset;
}

.glyphicon-home:hover {
    text-decoration: none;
    color:var(--gray);
}

.glyphicon {
    font-size: 16px;
}

.liked {
    color: rgb(4, 245, 77);
}

.disliked {
    color: #F00;
}

.date {
    color: #828282;
    font-size: 14px;
    text-align: center;
    margin-top: 50px;
}

.top-menu, .top-menu:hover, .top-menu:visited {
    color: #030303;
    font-size: 22px;
    width: 100%;
    margin-top: 60px;
}

.top-comentario {
    font-size: 16px;
    color: #000;
}

.top-comentario:hover {
    color: var(--gray);
}

.top-addpost {
    color: rgb(5, 5, 5);
    float: right;
    position: unset;
    margin-right: 5%;
}

.top-addpost:hover {
    color: var(--gray);
}

.top-post {
    text-align: center;
}

.top-post p {
    text-align: justify;
    font-weight: normal;
    font-size: 14px;
    width: 100%;
}

.top-h1 {
    color: rgb(255, 56, 92);
    font-size: 22px;
    font-weight: bold;
    width: 100%;

}

.top-h1:hover {
    color: var(--gray);
    text-decoration: none;
}

.forms {
    margin: 40px 0px;
}

.container-post {
    margin: 20px 80px;
}

.container-post h1 {
    color: rgb(255, 56, 92);
    font-weight: bold;
}

.container-post p {
    text-align: justify;
    width: 50%;
}

.progress {
    width: 50%;
    height: 20px;
}

.post-like {
    text-align: start;
    margin: 0 80px;
}

.right{
	float: right;
}

.container-comentarios {
    width: 50%;
    margin: 0 25%;
}

.btn {
    margin: 5px;
}

.container-comentarios h4 {
    font-size: 20px;
    font-weight: bold;
    color: rgb(255, 56, 92);
    margin-top: 50px;
}
.form-comment-title {
    font-size: 18px;
    font-weight: bold;
}

.container-comentarios p {
    text-align: justify;
    width: 100%;
}

.top-post {
    margin: 0 20%;
}

.cntner {
    width: 100%;
}

.comentario-zero {
    text-align: center;
    display: flex;
    margin-top: 20px;
    justify-content: center;
}

.container-error {
    width: 90vw;
    height: 70vh;
    display: absolute;
    justify-content: center;
    align-items: center;
}

.container-error--detail {
    text-align: center;
}

@media screen and (max-width: 640px) {

    .glyphicon {
        font-size: 10px;
    }
    .date {
        font-size: 10px;
    }

    .top-post p {
        margin: 0;
    }

    .top-addpost {
        margin: 10px;
    }
}




