{% extends 'airbnb/index.html' %}

{% block content %}

  <div class="card-columns">
    {% for home in homes %}
      <div class="card">
        <a href="{% url 'home_detail' pk=home.pk %}">
          <img class="card-img-top" src="../media/{{ home.image }}" alt="Imagem Acomodacao">
        </a>
        <div class="card-body">
          <p class="card-title"><a href="{% url 'home_detail' pk=home.pk %}">{{ home.name }}</a></p>
          <p class="price">Diária: R$ {{ home.price }}</p>
          <p class="card-text">{{ home.description }}</p>
          <a class="card-comentario" href="{% url 'home_detail' pk=home.pk %}">Comentários: {{ home.approved_comments.count }}</a>          
          {% if user.is_authenticated %}
            <a class="card-button" href="{% url 'home_reservation' pk=home.pk %}">Reserve já!</a>
          {% else %}
            <a class="card-button" href="{% url 'login' %}">Reserve já!</a>
          {% endif %}
        </div>
        <br />
        <div class="card-footer">
          <small class="text-muted">Publicado em: {{ home.published_date }}</small>
        </div>
        <br />
      </div>
    {% endfor %}
  </div>

{% endblock content %}