{% extends 'airbnb/index.html' %}

{% block content %}

    <div class="container-description">

        {% if user.is_authenticated %}
            <a class="btn-remover" href="{% url 'home_remove' pk=home.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
            <a class="btn-editar" href="{% url 'home_edit' pk=home.pk %}"><span class="glyphicon glyphicon-pencil"></span></a>
        {% endif %} 

        {% if home.published_date %}
            <p class="date-home">{{ home.published_date }}</p>
        {% else %}
            {% if user.is_authenticated %}
                <a class="btn-publicar" href="{% url 'home_publish' pk=home.pk %}">Publicar acomodação</a>
            {% endif %}
        {% endif %}

        {% if reservation %}
            <p class="reserved_done">Parabéns! Você reservou este estabelecimento para {{ reserve.number_peoples }} pessoa(s), iniciando dia 
                {{ reserve.initial_date }} até o dia {{ reserve.final_date }} pelo valor de R$ 
                {{ reserve.total_value }}!</p>
        {% endif %}

        <h2>{{ home.name }}</h2>
        <p>{{ home.description }}</p>

        <div class="container-detail">
            <img src="../../../media/{{ home.image }}" alt="Imagem Acomodacao">

            <div class="container-aside">
                <label>Apenas R$ {{ home.price }} por dia!</label>
                {% if home.published_date %}  
                    {% if reservation %}
                        <a><span>JÁ ESTA RESERVADO :)</span></a>
                    {% else %}
                        {% if user.is_authenticated %}
                            <a href="{% url 'home_reservation' pk=home.pk %}"><span>RESERVAR</span></a>
                        {% else %}
                            <a href="{% url 'login' %}"><span>RESERVAR</span></a>        
                        {% endif %}     
                    {% endif %}
                {% endif %}
                <label class="normal-weight" for="">Nota da acomodação: {{ home.avg_rating }}</label>
                <label class="normal-weight" for="">Quantidade de avaliações: {{ home.no_of_ratings}}</label>
                <label>Localização:</label>
                <label class="normal-weight" for="">{{ home.address }}</label>
            </div>

            {% if home.published_date %}
            <div>
                <form action="{% url 'rating' pk=home.pk %}" method="post">
                    {% csrf_token %}
                    {% if rated %}
                        <div class="rating">
                            <input type="radio" name="star" id="star5" value="5" checked><label for="star5"></label>
                            <input type="radio" name="star" id="star4" value="4" ><label for="star4"></label>
                            <input type="radio" name="star" id="star3" value="3" ><label for="star3"></label>
                            <input type="radio" name="star" id="star2" value="2" ><label for="star2"></label>
                            <input type="radio" name="star" id="star1" value="1" ><label for="star1"></label>
                        </div>
                        <button class="rating-button-disabled" disabled>Avaliar</button>                
                        <p class="rating-p">Você já avaliou este estabelecimento! :)</p>        
                    {% else %}
                        <div class="rating">
                            <input type="radio" name="star" id="star5" value="5"><label for="star5"></label>
                            <input type="radio" name="star" id="star4" value="4"><label for="star4"></label>
                            <input type="radio" name="star" id="star3" value="3"><label for="star3"></label>
                            <input type="radio" name="star" id="star2" value="2"><label for="star2"></label>
                            <input type="radio" name="star" id="star1" value="1"><label for="star1"></label>
                        </div>
                        <button class="rating-button" type="submit">Avaliar</button>
                        <p class="rating-p2">Selecione a sua melhor estrela e clique para avaliar! :)</p>    
                    {% endif %}
                </form>
            </div>
            {% endif %}
        </div>
    </div>

    
    

    

    <div class="container-comments">
        <div class="detail-comments">
            <a class="detail-btncomentar" href="{% url 'add_comment_to_home' pk=home.pk %}">Adicionar comentário</a>
            {% for comment in home.comments.all %}
                {% if user.is_authenticated or comment.approved_comment %}
                    <div>
                        <p class="data">{{ comment.created_date }}</p>
                        {% if not comment.approved_comment %}
                            <a class="btn btn-danger"  href="{% url 'comment_remove' pk=comment.pk %}"><span class="glyphicon glyphicon-remove"></span></a>
                            <a class="btn btn-success"  href="{% url 'comment_approve' pk=comment.pk %}"><span class="glyphicon glyphicon-ok"></span></a>
                        {% endif %}
                    </div>
                    <div class="comment-detail">
                        <p><strong>{{ comment.author }}</strong></p>
                        <p>{{ comment.text|linebreaks }}</p>
                    </div>
                {% endif %}
            {% empty %}
                <p class="comment-detail" style="text-align: center;"><br />Nenhum comentário ainda</p>
            {% endfor %}
        </div>
    </div>


{% endblock %}